<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>
  <h1>Login here!</h1>

  <form method="POST" action="/login">
    <label>Username</label>
    <input name="username" />
    <br/>
    <label>Password</label>
    <input name="password" />
    <br/>
    <button type="submit">Login!</button>
  </form>
</body>
</html>
